@use '../../styles/fonts' as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.dashboard-nav {
  height: 100%;
  width: 20%;
  display: flex;

  &__navigation {
    height: 100%;
    width: 54px;
    background-color: $color-primary;
  }

  &__link {
    background-color: $color-secondary;
    // padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    padding: 8px;

    &.--active{
      background-color: $color-emphasis-tertiary;

      & path {
        fill: $color-secondary;
      }
    }
  }

  &__page-options{
    height: 100%;
    width: 24px;
    background-color: $color-offset-primary;
  }
}