@use '../../styles/fonts' as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.drawable-svg {
  display: none;
  position: absolute;

  @include tablet{
    display: block;
  }

  &.--active path {
    stroke-dashoffset: 0;
  }

  &--lock{
    width: 25vmax;
    top: -8vmin;
    right: 25vmax;
  
    @include desktop{
      width: 40vmin;
      right: 20vmax;
    }
  
    &__path{
      stroke-dasharray: 1490;
      stroke-dashoffset: 1490;
      transition: stroke-dashoffset 2s ease-in-out;
    }
  }

  &--question-mark{
    width: 20vmax;
    top: -8vmin;
    left: 15vmax;
  
    @include desktop{
      width: 40vmin;
      bottom: 20vmax;
      left: 20vmax;
    }
  
    &__path{
      stroke-dasharray: 956;
      stroke-dashoffset: 956;
      transition: stroke-dashoffset 2s ease-in-out;
    }
  }

  &--phone{
    width: 35vmin;
    top: -15vmin;
    right: 25vmin;
  
    @include desktop{
      width: 45vmin;
      bottom: 10vmax;
      left: 35vmax;
    }
  
    &__path{
      stroke-dasharray: 2255;
      stroke-dashoffset: 2255;
      transition: stroke-dashoffset 2s ease-in-out;
    }
  }
}


