@use '/styles/fonts' as *;
@use '/styles/variables' as *;
@use '/styles/mixins' as *;

.contact-us{

  &__wrapper{
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items:baseline;
    }
  }

  &__title{
    @include heading-primary;
    color: $text-emphasis;
  }
  
  &__summary{
    width: 100%;
    z-index: 1;

    @include tablet{
      width: 50%;
    }
  }
  
  &__msg {
    @include responsiveMargin(m,top);
    @include heading-quaternary;
    color: $text-offset;

    &.--expanded{
      display: none;

      @include tablet{
        display: flex;
      }
    }
  }

  &__faq-link {
    color: $text-emphasis;
    text-decoration: none;
  }
}

.contact-form{
  @include responsiveMargin(m,top);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 240px;
  z-index: 1;

  @include desktop {
    max-width: 300px;
  }

  & label{
    @include heading-quaternary;
    margin: $margin-xs 0 4px;
    color: $text-emphasis;
  }

  & input, textarea {
    @include heading-quaternary;
    outline: none;
    padding: 2% 4%;

    &:focus{
      border-bottom: 1px solid $color-emphasis-primary;
      box-shadow: 0 -2px 2px inset rgba(0, 0, 0, .25);
    }
  }

  &__message-field{
    resize: none;
    height: 100px;
  }

  &__submit{
    @include responsiveMargin(m,top);
    align-self: flex-end;
  }
}