@use "../../styles/mixins" as *;

.hero {
    // Reconsider having  this as position relative by default
    position: relative;
    overflow: hidden;
    min-height: 500px;

    @include tablet {
        min-height: 400px;
    }
}