@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.hero {
    position: relative;
    width: 100%;
    @include page-height-headerless;
    min-height: 500px;

    background: $color-offset-secondary;

    @include tablet {
        min-height: 400px;
    }
}

.svg-hero {

    &__curve {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;

        @include tablet {
            left: auto;
            right: 0;
            height: 100%;
        }

        @include desktop {
            width: 70%;
        }
    }
}