@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header-login-mob {
    position: relative;
    height: inherit;
    margin-right: 1rem;
    display: flex;
    align-items: center;

    &__btn {
        width: 64px;
        height: 22px;
        color: $color-offset-secondary;
        background-color: $color-emphasis-primary;
        border: none;
        outline: none;
        transform: translate(0, 0);
        transition: transform .3s ease-in;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
        
        @include desktop {
            width: 128px;
            height: 34px;
        }
        
        &:hover {
            box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
        }
        
        &:active {
            box-shadow: none;
            transform: translate(4px, 4px);   
        }
    }

    &__form {
        position: absolute;
        top: 100%;
        right: 0;
        height: 200px;
        background-color: white;
    }

    &__label {
        display: block;
        padding-bottom: 0.75rem;
    }

    &__input {
        width: 100%;
        min-width: 224px;
        height: 21px;
    }
}