@use "./variables" as *;
@use "./mixins" as *;

// Mixins
@mixin heading-primary {
    font-size: 1.313rem;    

    @include tablet {
        font-size: 1.531rem;
    }

    @include desktop {
        font-size: 1.75rem;
    }
}

@mixin heading-secondary {
    font-size: 1.125rem;    

    @include tablet {
        font-size: 1.313rem;
    }

    @include desktop {
        font-size: 1.5rem;
    }
}

@mixin heading-tertiary {
    font-size: 1.031rem;    

    @include tablet {
        font-size: 1.203rem;
    }

    @include desktop {
        font-size: 1.375rem;
    }
}

@mixin heading-quaternary {
    font-size: .75rem;    

    @include tablet {
        font-size: .875rem;
    }

    @include desktop {
        font-size: 1rem;
    }
}

@mixin text-regular {
    font-size: .563rem;

    @include tablet {
        font-size: .656rem;
    }

    @include desktop {
        font-size: .75rem;
    }
}

@mixin text-small {
    font-size: .547rem;

    @include tablet {
        font-size: .547rem;
    }

    @include desktop {
        font-size: .625rem;
    }
}

// Imports
// Roboto
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Italic.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// Raleway
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway/Raleway-Bold.woff2') format('woff2'),
        url('../assets/fonts/raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway/Raleway-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/raleway/Raleway-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway/Raleway-Italic.woff2') format('woff2'),
        url('../assets/fonts/raleway/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
        url('../assets/fonts/raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Ubuntu
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/ubuntu/Ubuntu-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2'),
        url('../assets/fonts/ubuntu/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-Italic.woff2') format('woff2'),
        url('../assets/fonts/ubuntu/Ubuntu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2'),
        url('../assets/fonts/ubuntu/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}