// Colour Scheme
$color-primary: #143058;
$color-secondary: #0f2544;
$color-tertiary: #435979;
$color-quater-mary: #d0d6de;
$color-offset-primary: #eeebe8;
$color-offset-secondary: #f9f8f7;
$color-field: #fcfcfb;
$color-emphasis-primary: #fe5c32;
$color-emphasis-secondary: #fba919;
$color-emphasis-tertiary: #fccd7a;

// Responsive Design
$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1280px;

// Main Header
$header-height-mobile: 46px;
$header-height-tablet-desktop: 54px;