@use "./mixins" as *;
@use "./variables" as *;

.button {
    width: 100%;
    height: 34px;
    padding: 8px 24px;
    margin: 4px;
    border: 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
    transform: translate(-4px, 4px);
    transition: transform .3s ease-in;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 106px;
    z-index: 1;

    @include tablet {
        max-width: 128px;
    }

    &:hover {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
        cursor: pointer;
    }

    &--active {
        box-shadow: none;
        transform: translate(0, 0);
    }

    &--primary {
        @extend .button;
        color: $color-field;
        background-color: $color-emph-primary;
    }

    &--secondary {
        @extend .button;
        color: $color-emph-primary;
        background-color: $color-field;
    }

    &--tertiary {
        @extend .button;
        // color: $color-field;
        // background-color: $color-secondary;
    }
}