@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

$header-height-mob: 46px;
$header-height-tab-desk: 54px;


.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: $header-height-mob;
    // padding: 

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: $color-offset-secondary;
    
    @include tablet {
        height: $header-height-tab-desk;
    }

    &__spacer {
        width: 100%;
        height: $header-height-mob;

        @include tablet {
            height: $header-height-tab-desk;
        }
    }

    &__column {
        width: 100%;
        height: inherit;

        border: 1px solid black;
    }

}