@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.header {

    &__spacer {
        width: 100%;
        height: $header-height-mobile;

        @include tablet {
            height: $header-height-tablet-desktop;
        }
    }
}