@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    align-items: center;

    background-color: white;
    

    &__spacer {
        width: 100%;
        
        @include mobile {
            height: $header-height-mobile;
        }

        @include tablet {
            height: $header-height-tablet-desktop;
        }
    }
}