@use "./styles/fonts" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;


*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, textarea, button {
  color: $text-primary;
  font-family: 'Roboto', 'Raleway', 'Ubuntu', sans-serif;
}

html {
  // @include text-regular;
  background-color: #e5e5e5;

  @include mobile {
    width: 100%;
  }
}